@charset "utf-8";
body h1 {
    color: #FF0004;
    text-align: center;
    background-color: #8F6F1B;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 700;
    font-size: 100px;
}
body h2 {
    color: #FF3C3F;
    text-align: center;
    background-color: #D3E6C7;
    position: relative;
    top: -400px;
    width: 500px;
    height: 100px;
    right: -300px;
}
